<div class="table-responsive">
    <table id="dt_basic" class="table table-bordered table-striped table-condensed table-hover smart-form">
        <thead>
            <tr>
                <th>No</th>
                <th>Sənəd nömrəsi</th>
                <th>Sənədin açıqlaması</th>
                <th>Sənədin növü</th>
                <th>Sənədin qeydiyyat tarixi</th>
                <th>Sənədin sahibi</th>
                <th>İcra olunmalı olduğu tarix</th>
                <th>Strukturda icra olunduğu tarix</th>
                <th>Vaxtı neçə gün keçib</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    $("#dt_basic").DataTable();
</script>